/* Layout di base */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 1em;
  background-color: #fff;
}

.flex-clmn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.flex-clmn label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.875rem;
}

.responsive-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.input-base {
  font-size: 1rem;
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.mt-1-5 { 
  margin-top: 1.5rem; 
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  gap: 2rem;
}

header img, header h1 {
  margin: 0;
}

button,
input,
select {
  font-size: 1rem;
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 8px;
}

.card label {
  font-weight: 600;
  margin-bottom: 0.4rem;
  font-size: 0.95rem;
}

/* Bottoni */
button {
  background-color: #038C5A;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #03A65A;
}

button.chiudi {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #555;
}

button.chiudi:hover {
  color: #F23041;
}

/* Sezioni */
section {
  display: none;
  background-color: #FEE9E0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 100%;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  margin: 1rem 0;
  position: relative;
}

section h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0 1.5rem;
}

.attiva {
  display: block;
}

/* Options (menu) */
.options {
  background-color: #F23041;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.options button {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
  border: none;
  background-color: transparent;
  padding: 1rem;
}

/* Filtri */
#hidden-items {
  display: none;
  border-top: 1px solid gray;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

#filters-buttons {
  display: flex;
  flex-direction: row;
  margin-right: 0;
  align-items: flex-end;
  justify-content: flex-end;
}

#filters-buttons button {
  height: 2rem;
  margin-left: 0.75rem;
}

#infopanel .card div {
  margin: 1rem 0;
}
#modificaSito form > div {
  gap: 0;
}

/* Checkboxes */
.checkboxes input[type="checkbox"] {
  transform: scale(1.1);
  margin-top: 0.3rem;
}

/* Mappa */
#map {
  height: 500px;
  border: 1px solid #aaa;
  width: 100%;
}

.marker-button {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

#info div, #content div {
  margin: 0.75rem 0;
}

